/**
 @copyright (C) 2017-2020 Intel Corporation
 SPDX-License-Identifier: LGPL-2.1-or-later
 */

#include "resource.h"
#include "verrsrc.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifdef _DEBUG
#define OWNFILEFLAGS    VS_FF_DEBUG
#else
#define OWNFILEFLAGS    0x0L
#endif

#define OWNFILETYPE     VFT_DLL
#define OWNFILESUBTYPE  VFT2_UNKNOWN
#define OWNFILEDESC     PRODUCT_NAME ", Dynamic-link library (" GNA_TARGET_DESCRIPTION ")"

VS_VERSION_INFO         VERSIONINFO
FILEVERSION             VERSION_FILE_ID
PRODUCTVERSION          PRODUCT_VERSION_ID
FILEFLAGSMASK           0x0L
FILEFLAGS               OWNFILEFLAGS
FILEOS                  VOS__WINDOWS32
FILEFLAGS               OWNFILETYPE
FILESUBTYPE             OWNFILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName",      "Intel Corporation"
            VALUE "FileDescription",  OWNFILEDESC
            VALUE "FileVersion",      VERSION_FILE_STR
            VALUE "InternalName",     OWNFILEDESC
            VALUE "LegalCopyright",   PRODUCT_COPYRIGHT
            VALUE "ProductName",      PRODUCT_NAME_LONG
            VALUE "ProductVersion",   PRODUCT_VERSION_STR
            VALUE "OriginalFilename", GNA_TARGET_OUTPUT_NAME ".dll"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
#endif
